# Folders
Crashlogs
tw_ALL_IN_ONE
tw_ALL_IN_ONE.taco
POIs/GW2 TacO ReActif EN External.taco
/Data

# TACO Files
crash.log
debug.log
categorydata.xml
activationdata.xml
GW2TacO.exe
GW2TacO.pdb
GW2TacO.log
hpgrids.xml
locationaltimers.xml
maptimer.xml
poidata.xml
UI.wbs
UI.xml
UI_large.css
UI_larger.css
UI_small.css
UI_normal.css
TacO_Language_en.xml
TacOConfig.xml
POIs/TehsTrails.taco
BugSplat.dll
POIs/TacOTestBuild.zip
POIs/TestBuild.zip
POIs/\!pois.txt
CrashLog.log
BsSndRpt.exe
BugSplatRc.dll
POIs/TacOMarkers.taco
POIs/Data/Trails/Raids
POIs/Data/Trails/Fractals
POIs/CommanderRaids.xml
POIs/Fractals.xml
